@import url("dfterm3_term.css");

body {
    /* background: url('background.jpg'); */
    background: #eee;
}

.cover {
    opacity: 0.5;
    background: #fff;
    padding: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

.dfterm3_connection_status_element_good {
    background: #eee;
    color: #5a5;
    font-weight: bold;
    padding: 20px;
    border: 2px solid #000;
    position: fixed;
    right: 10px;
    top: 10px;
}

.dfterm3_connection_status_element_bad {
    background: #eee;
    font-weight: bold;
    color: #a55;
    padding: 20px;
    border: 2px solid #000;
    position: fixed;
    right: 10px;
    top: 10px;
}

.dfterm3 h1 {
    display: inline-block;
}

.dfterm3 ul {
}

.dfterm3 li {
    list-style: none;
}

.dfterm3 a {
    color: #000;
    background: #ddd;
    padding: 3px;
    text-decoration: none;
}

.dfterm3 a:hover {
    color: #000;
    background: #fff;
}

.go_back_button a {
    padding: 3px;
    text-decoration: none;
}

.auth_part {
}

.auth_part form {
    background: #ddd;
    border: 1px solid;
    padding: 20px;
    position: absolute;
    height: 150px;
    width: 500px;
    left: 50%;
    top: 50%;
    margin-top: -75px;
    margin-left: -250px;
    box-shadow: 5px 5px;
}

#admin_submit_button {
    text-align: center;
}

#admin_submit_button input {
}

.admin_content {
    background: #ddd;
    border: 1px solid;
    padding: 20px;
    box-shadow: 5px 5px;
}

.admin_title_unregistered {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    background: #f96;
    box-shadow: 2px 2px;
}

.admin_title_registered {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    background: #69f;
    box-shadow: 2px 2px;
}

.admin_content input {
}

.admin_content .game_name {
    margin-left: 50px;
}

.admin_content li {
    list-style: none;
    font-family: monospace;
    display: inline-block;
    padding: 10px;
    background: #ddd;
    height: 25px;
    box-shadow: 1px 1px;
}

.chat {
}

.chat h3 {
    padding-top: 5px;
    margin: 10px;
}

.chat input {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 80%;
}

#login_text {
    width: 20em;
}

.chat_from_who {
    font-weight: bold;
}

.chat_content {
    margin-left: 2em;
}


