@import url("dfterm3_term.css");

body {
    /* background: url('background.jpg'); */
    background: #eee;
}

.cover {
    opacity: 0.5;
    background: #fff;
    padding: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 1000;
}

.modal-window {
    background-color: white;
    position: fixed;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    z-index: 1001;
    padding: 1em;
    border-radius: 5px;
}

.dfterm3_connection_status_element_good {
    color: #5a5;
}

.dfterm3_connection_status_element_bad {
    color: #a55;
}

.dfterm3_connection_status_element_good, .dfterm3_connection_status_element_bad {
    color: #5a5;
    font-weight: bold;
    padding: 20px;
    border: 2px solid #000;
    position: fixed;
    right: 10px;
    top: 10px;
}

.dfterm3 h1 {
    display: inline-block;
}

.dfterm3 ul {
}

.dfterm3 li {
    list-style: none;
    margin-top: 10px;
}

.dfterm3 a {
    color: #000;
    background: #ddd;
    padding: 3px;
    text-decoration: none;
}

.dfterm3 a:hover {
    color: #000;
    background: #fff;
}

.go_back_button a {
    padding: 3px;
    text-decoration: none;
}

.auth_part {
}

.auth_part form {
    background: #ddd;
    border: 1px solid;
    padding: 20px;
    position: absolute;
    height: 150px;
    width: 500px;
    left: 50%;
    top: 50%;
    margin-top: -75px;
    margin-left: -250px;
    box-shadow: 5px 5px;
}

.admin_flash {
    color: #cc0000;
}

.button {
    border: 0px solid black;
    border-radius: 2;
    width: 0.75em;
    height: 0.75em;
    text-decoration: none;
    padding: 0 2px;
}

.button.close {
    color: red;
}

.button.close:hover {
    background-color: #ddcccc;
}

#admin_submit_button {
    text-align: center;
}

#admin_submit_button input {
}

.admin_content {
    background: #ddd;
    border: 1px solid;
    padding: 20px;
    box-shadow: 5px 5px;
}

.admin_title_unregistered {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    background: #f96;
    box-shadow: 2px 2px;
}

.admin_title_registered {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    background: #69f;
    box-shadow: 2px 2px;
}

.admin_content input {
}

.admin_content .game_name {
    margin-left: 50px;
}

.admin_content li {
    list-style: none;
    font-family: monospace;
    display: inline-block;
    padding: 10px;
    background: #ddd;
    height: 25px;
    box-shadow: 1px 1px;
}

.admin_password_form {
}

form[action="logout"] {
    display: block;
    float: right;
}

.chat {
}

.chat h3 {
    padding-top: 5px;
    margin: 10px;
}

.chat input {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 80%;
}

#login_text {
    width: 20em;
}

.chat_from_who {
    font-weight: bold;
}

.chat_content {
    margin-left: 2em;
}

#game_title {
}

#who_is_playing {
    padding: 0px;
    margin: 0px;
    display: inline;
}

#game_is_gone_box {
    color: #f55;
    display: inline;
}

.loading_indicator {
    color: #000;
    font-size: small;
    margin-left: 2em;
}

