100 ICON "icon/dfterm3.ico"
101 ICON "icon/dfterm3_16x16.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "Dfterm3 server"
      VALUE "FileVersion", "0.3"
      VALUE "LegalCopyright", "Mikko Juola (c) 2013"
      VALUE "OriginalFilename", "dfterm3.exe"
      VALUE "ProductName", "Dfterm3"
      VALUE "ProductVersion", "0.3"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END

